[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/motemen/git-vim.git
	ignore = all
[submodule "bundle/vim-git-branch-info"]
	path = bundle/vim-git-branch-info
	url = https://github.com/taq/vim-git-branch-info.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/markshiz/snipmate.vim.git 
	ignore = all
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/MatchTag"]
	path = bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "bundle/vim-gradle"]
	path = bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/scss-syntax"]
	path = bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/css.vim"]
	path = bundle/css.vim
	url = https://github.com/JulesWang/css.vim.git
